@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu:wght@300&display=swap");
.section {
  border: none;
  margin-top: 80px;
  overflow: initial;
}
.section:hover {
  box-shadow: none;
}
.section .view-add {
  padding: 20px;
}
.section .view-add .row1 {
  margin: 20px 0;
}
.section .view-add .row2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 410px);
  grid-column-gap: 50px;
  grid-row-gap: 60px;
  justify-content: center;
  align-items: center;
}
.section .view-add .row2 .column {
  position: relative;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
  padding: 15px 0 0px;
  border: 1px solid #d6d6d6;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}
.section .view-add .row2 .column:hover {
  box-shadow: 0px 0px 9px 6px #eeeeeef5;
}
.section .view-add .row2 .column .active {
  position: absolute;
  top: 5px;
  left: 5px;
}
.section .view-add .row2 .column .active .act-op {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}
.section .view-add .row2 .column .option {
  position: absolute;
  top: 6px;
  right: 5px;
  height: 25px;
  text-align: right;
  margin-bottom: 10px;
}
.section .view-add .row2 .column .option button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.section .view-add .row2 .column .option .dropdown-content {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  width: 120px;
  border: 1px solid #ddd;
  background-color: #f8f8f8ad;
  opacity: 95%;
  transition: 0.3s;
}
.section .view-add .row2 .column .option .dropdown-content a {
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: black;
  margin-bottom: 12px;
  padding: 10px 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}
.section .column .option .dropdown .dropdown-content a:hover {
  color: white;
  background-color: #f96700ba;
  transition: 0.5s;
}
.section .view-add .row2 .column .option .dropdown:hover .dropdown-content {
  display: block;
}
.section .view-add .row2 .column .img-column {
  height: auto;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .view-add .row2 .column .img-set {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  padding: 5px;
  border: 3px solid #dedddd;
  overflow: hidden;
}
.section .view-add .row2 .column .img-set img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.section .view-add .row2 .column .ad-content {
  height: 220px;
  padding: 8px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.section .view-add .row2 .column .ad-content .ad-title {
  width: 100%;
  margin-bottom: 17px;
  text-align: center;
}
.section .view-add .row2 .column .ad-content .ad-title h4 {
  margin-bottom: 10px;
  font-size: 23px;
}
.section .view-add .row2 .column .ad-content .ad-company {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
.section .view-add .row2 .column .ad-content .ad-company h4,
.ad-salary h4,
.ad-location h4,
.ad-catogery h4,
.ad-type h4 {
  margin-bottom: 9px;
  font-size: 13px;
  width: 100%;
  color: #77797bc4;
}
.section .view-add .row2 .column .ad-content .ad-company h4 {
  font-size: 16px;
  color: #f96700;
}
.section .view-add .row2 .column .ad-content .ad-location h4 {
  font-size: 13px;
}
.section .view-add .row2 .column .ad-content .ad-type h4 {
  color: #00b900;
}
.section .view-add .row2 .column .ad-content i {
  margin-right: 8px;
  display: inline;
}
.section .view-add .row2 .column .ad-time {
  height: 35px;
  padding: 5px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5a1;
  border-top: 1px solid #eee;
  color: #a2a0a0;
  font-size: 13px;
  font-weight: 300;
}
.section .view-add .row2 .column .ad-time h4 {
  font-weight: 300;
}
.section .view-add .row2 .column .ad-time h4 i {
  margin-right: 5px;
}
/*next link*/

.section .row .next-link {
  margin: 50px 0 15px;
}
.section .row .next-link .next-content {
  width: 700px;
  margin: 0 auto;
  border: 1px solid #ccc7c7;
  padding: 8px;
}
.section .row .next-link .next-content ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.section .row .next-link .next-content ul li {
  font-family: "Raleway", sans-serif;
  padding: 5px 10px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  transition: 0.5s ease;
}
.section .row .next-link .next-content ul li:nth-child(3) {
  font-family: sans-serif;
  background-color: #ff8a00;
  border-radius: 5px;
  color: #fff;
}
.section .row .next-link .next-content ul li a {
  font-family: "Raleway", sans-serif;
  color: #000;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}
.section .row .next-link .next-content ul li:hover {
  border-radius: 5px;
  background-color: #ff8a00;
  color: #fff;
}
.section .row .next-link .next-content ul li:hover a {
  color: #fff;
}
