@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu:wght@300&display=swap");
.section {
  overflow: initial;
  border: none;
  margin-top: 60px;
}
.section .view-add {
  padding: 50px;
}
.section .view-add .row1 {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
.section .view-add .row2 {
  margin: 45px;
}
.section .view-add .row2 table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Raleway", sans-serif;
}
.section .view-add .row2 table th {
  background-color: #ddd6;
  padding: 8px;
  text-align: left;
  font-size: 15px;
}
.section .view-add .row2 table tr button {
  background: none;
  border: none;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  color: #ff8a00;
}
.section .view-add .row2 table tr button:hover {
  color: #000;
}
.section .view-add .row2 table tr td {
  padding: 10px;
  font-size: 13px;
  border: 1px solid #eee;
  text-align: center;
}
.section .view-add .row2 table tr td:nth-child(4) {
  color: #39c400;
  font-weight: bold;
}
.section .view-add .row2 table tr td p {
  margin-bottom: 5px;
  margin-top: 3px;
  text-align: left;
}
.section .view-add .row2 table tr td p:first-child {
  color: #e36105;
  font-weight: bold;
}
.section .view-add .row2 table tr td p:nth-child(2) {
  color: #74706e;
}
.section .view-add .row2 table tr td p:last-child {
  color: #74706e;
}

/*nect link pagination*/
.section .row .next-link {
  margin: 0px 0 30px;
}
.section .row .next-link .next-content {
  width: 700px;
  margin: 0 auto;
  border: 1px solid #ccc7c7;
  padding: 8px;
}
.section .row .next-link .next-content ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.section .row .next-link .next-content ul li {
  font-family: "Raleway", sans-serif;
  padding: 5px 10px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  transition: 0.5s ease;
}
.section .row .next-link .next-content ul li:nth-child(3) {
  font-family: sans-serif;
  background-color: #ff8a00;
  border-radius: 5px;
  color: #fff;
}
.section .row .next-link .next-content ul li a {
  font-family: "Raleway", sans-serif;
  color: #000;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}
.section .row .next-link .next-content ul li:hover {
  border-radius: 5px;
  background-color: #ff8a00;
  color: #fff;
}
.section .row .next-link .next-content ul li:hover a {
  color: #fff;
}
.section .empty {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  margin: 25px;
  text-transform: capitalize;
  text-align: center;
  color: #ff8a00;
  font-weight: 600;
}
