@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu:wght@300&display=swap");

/*search bar area*/
.search-bar {
  margin: 60px 0;
  position: relative;
  width: 100%;
}
.search-bar .content-pic {
  position: relative;
  width: 100%;
  padding: 175px 0;
  background-image: linear-gradient(150deg, #7b4300, #010144);
}
.search-bar .content-pic:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../imj/job13.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(1px);
  opacity: 78%;
}
.search-bar .search-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  display: flex;
  justify-content: center;
}
.search-bar .search-content form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar .search-content form p {
  position: relative;
  width: 100%;
}
.search-bar .search-content form input {
  padding: 14px 5px;
  position: relative;
  width: 230px;
  margin-right: 15px;
  outline: none;
  border: none;
  color: #ea7f00;
  border-radius: 4px;
  padding-left: 40px;
  font-size: 15px;
}
.search-bar .search-content form i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  z-index: 1;
  color: #ff8a00;
}

.search-bar .search-content form input[type="submit"] {
  width: 150px;
  margin: 0;
  background-color: #ff8a00;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  padding-left: 0;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

/*job lists*/
.add-list .all-ads {
  padding-top: 35px;
}
.add-list .all-ads a {
  text-decoration: none;
}
.add-list .sort_row {
  width: 1140px;
  margin: 10px auto;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
}
.add-list .sort_row span {
  color: #ff8a00;
}
.add-list .all-ads .row {
  width: 1140px;
  height: 130px;
  margin: 20px auto;
  border: 1px solid #ddd;
  overflow: hidden;
  padding: 15px;
  transition: 0.3s ease-in 0s;
  display: flex;
  font-family: "Raleway", sans-serif;
}
.add-list .all-ads .row:hover {
  box-shadow: 0px 0px 10px 4px #eee;
}
.add-list .all-ads .row a {
  display: flex;
}
.add-list .all-ads .row .column1 {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.add-list .all-ads .row .column1 .image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.add-list .all-ads .row .column1 .image img {
  width: 100%;
  height: 100%;
}
.add-list .all-ads .row .column2 {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.add-list .all-ads .row .column3 {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-list .all-ads .row .column2 .row2 {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.add-list .all-ads .row .column2 .row2::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
}

.add-list .all-ads .row .column2 .row2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bebebe;
}
.add-list .all-ads .row .column2 .row1 {
  width: 100%;
  margin-bottom: 20px;
}
.add-list .all-ads .row .column2 .row1 h1 {
  font-size: 20px;
  text-transform: capitalize;
  color: #252525;
  transition: 0.3s;
}
.add-list .all-ads .row .column2 .row1:hover h1 {
  color: #e47a01;
}
.add-list .all-ads .row .column2 .row2 h2 {
  color: #827e7e;
  font-weight: 300;
  font-size: 14px;
  margin-right: 20px;
  margin-bottom: 8px;
}
.add-list .all-ads .row .column2 .row2 h2:first-child {
  color: red;
}
.add-list .all-ads .row .column2 .row2 h2:nth-child(2) {
  color: #186fc9;
}
.add-list .all-ads .row .column2 .row2 h2 i {
  margin-right: 8px;
  font-size: 16px;
}
.add-list .all-ads .row .column3 .row1 {
  width: 100%;
}
.add-list .all-ads .row .column3 .row1 a {
  justify-content: center;
}
.add-list .all-ads .row .column3 .row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.add-list .all-ads .row .column3 h2 {
  font-size: 12px;
  margin-right: 8px;
  color: #777777;
}
.add-list .all-ads .row .column3 h2 i {
  margin-right: 5px;
}
.add-list .all-ads .row .column3 .row1 button {
  width: 60%;
  padding: 6px;
  text-transform: capitalize;
  border: none;
  background-color: #fff;
  color: #ff8a00;
  border: 1px solid #ff8a00;
  box-shadow: 0px 0px 8px 2px #e4e4e4;
  font-weight: 600;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  transition: 0.5s ease;
}
.add-list .all-ads .row .column3 .row1 button:hover {
  background-color: #ec7f02;
  color: #fff;
}
.add-list .all-ads .row .column3 .row1 button.al:hover {
  background-color: #00b900;
  color: #fff !important;
}
.add-list .all-ads .row .column3 h2:first-child {
  color: #00b900;
}
.add-list .all-ads .row .column3 .row1 button.cancel {
  border: 1px solid #ff8a00;
  background-color: #fff;
  color: #ff8a00;
  transition: 0.5s;
}
.add-list .all-ads .row .column3 .row1 button.cancel:hover {
  background-color: #ff8a00;
  color: #fff;
}

/*no any ads stylings*/
.empty {
  width: 100%;
  font-family: "Raleway", sans-serif;
}
.empty h1 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 35px;
}
.empty .svg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.empty .svg svg {
  width: 40%;
  height: 80%;
}
.empty .svg svg #third {
  animation: leaf 1s linear infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}
.empty .svg svg #second {
  animation: leaf 0.8s linear infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}
.empty .svg svg #first {
  animation: leaf 1.5s linear infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes leaf {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
.empty .svg svg #leftone,
#rightone {
  animation: mn 1s ease infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes mn {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}

/*pagination*/
.add-list .row {
  width: 100%;
  margin: 60px 0;
}
.add-list .row .next-link {
  width: 800px;
  margin: 0 auto;
}
.add-list .row .next-link .next-content {
  width: 100%;
  padding: 8px;
  border: 1px solid #e2e2e2;
}
.add-list .row .next-link .next-content ul {
  font-family: sans-serif;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.add-list .row .next-link .next-content ul li {
  flex: 1;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  color: #5a5a5a;
}
.add-list .row .next-link .next-content ul li a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 15px;
  color: #5a5a5a;
  transition: 0.5s ease;
}
.add-list .row .next-link .next-content ul li a:hover {
  background-color: #ff8a00;
  color: #fff;
  border-radius: 5px;
}
.add-list .row .next-link .next-content ul li:nth-child(3) {
  background-color: #ff8a00;
  color: #fff;
  font-weight: 600;
  padding: 5px 3px;
  width: 75px;
  flex: none;
  margin: 0 10px;
  border-radius: 3px;
  cursor: initial;
}

/*error msg in search page*/
.add-list .all-ads .empty-msg {
  width: 1140px;
  margin: 30px auto;
  text-align: center;
  border: 2px solid #ddd;
  padding: 35px;
  font-family: "Raleway", sans-serif;
  color: orange;
}
.add-list .all-ads .result {
  width: 1140px;
  margin: 10px auto;
  padding: 15px;
  text-align: left;
  font-family: "Raleway";
  font-size: 15px;
  color: orange;
}
