@media screen and (max-width: 1282px){
	.contact-form .contact-form-content{
		width: 80%;
	}
	.contact-form .contact-form-content .form-feild p input{
		width: 93%;
	}
	.contact-form .contact-form-content .form-feild p{
		width: 49%;
	}
}
@media screen and (max-width: 1202px){
	.contact-tiles .contact-row{
		width: 100%;
		overflow: auto;
	}
	.contact-tiles .contact-row .column{
		width: 20%;
	}
}
@media screen and (max-width: 1202px){
	.contact-tiles .contact-row .column{
		margin: 10px 20px;
	}
}
@media screen and (max-width: 939px){
	.contact-tiles .contact-row .column h2{
		font-size: 20px;
	}
	.contact-form .contact-form-content{
		width: 95%;
	}
	.contact-form .contact-form-content .form-feild p input{
		width: 93%;
		margin-right:0;
	}
	.contact-form .contact-form-content .form-feild textarea{
		width: 96.5%;
	}
}
@media screen and (max-width: 796px){
	.contact-tiles .contact-row .column{
		width: 44%;
	}
}
@media screen and (max-width: 666px){
	.contact-tiles .contact-row .column{
		float: none;
		margin: 10px 0;
		width: 100%;
	}
	.contact-form .contact-form-content .form-header{
		font-size: 12px;
	}
	.contact-form .contact-form-content .form-feild p{
		display: block;
		width: 100%;
	}
	.contact-form .contact-form-content .form-feild p input{
		width: 100%;
		box-sizing: border-box;
		margin-right:0;
		font-size: 11px;
	}
	.contact-form .contact-form-content .form-feild textarea{
		width: 92.5%;
	}
}
