@media screen and (max-width:1200px){
	.contact-tiles .contact-row{
		width: 100%;
	}
	.contact-form .contact-form-content{
		width: 100%;
	}
	.contact-form .contact-form-content .form-feild{
		padding: 0 10px;
	}
	.contact-form .contact-form-content .form-feild p input{
		width: 98%;
	}
	.contact-form .contact-form-content .form-feild p{
		width: 49%;
	}
}
@media screen and (max-width:960px){
	.contact-tiles .contact-row .column{
		flex: none;
		width: 40%;
	}
}
@media screen and (max-width:500px){
	
	.contact-tiles .contact-row .column{
		width: 90%;
	}
}
@media screen and (max-width:420px){
	.contact-form .contact-form-content .form-feild p{
		width: 100%;
	}
}
@media screen and (max-width:260px){
	.contact-form .contact-form-content .contact-but button{
		width: 95%;
	}
}