/*header and navigation*/
@media screen and (max-width: 1155px){
	header{
		width: 100%;
	}
	.menu ul{
		margin-left: 15%;
	}
}
@media screen and (max-width: 1024px){/*iPad Pro*/
	.menu ul{
		margin-left: 15%;
	}
	header .mob-nav h3{
		margin-top: 35px;
	}
	.but{
		margin-top: 35px;
	}
	.but button{
		padding: 4px 10px;
	}
}
@media screen and (max-width: 930px){
	.menu ul{
		margin-left: 10%;
	}
}
@media screen and (max-width: 891px){
	.menu ul{
		margin-left: 6%;
	}
}
@media screen and (max-width: 846px){
	.menu ul{
		margin-left: 3%;
	}
}
@media screen and (max-width: 804px){
	.menu ul{
		display: none;
	}
	.menu .mob-nav {
		display: block;
	}
}
@media screen and (max-width: 768px){
	.menu ul{
		display: none;
	}
	.menu .mob-nav {
		display: block;
	}
}
@media screen and (max-width: 414px){/*iPhone6/7/8 plus*/
	header .logo{
		float: none;
		overflow: auto;
		text-align: center;
	}
	header .mob-nav h3{
		margin-top: 0px;
	}
	.menu .mob-nav ul{
		top: 75px;
	}
	header .logo img{
		float: none;
	}
	header .but{
		margin-top: 0px;
		margin-right: 35px;
	}
	header .but button{
		padding: 4px 8px;
		font-size: 14px;
	}
}
@media screen and (max-width: 375px){/*iPhone X*/
	header .logo{
		float: none;
		overflow: auto;
		text-align: center;
	}
	header .mob-nav h3{
		margin-top: 0px;
	}
	.menu .mob-nav ul{
		top: 75px;
	}
	header .logo img{
		float: none;
	}
	header .but{
		margin-top: 0px;
		margin-right: 35px;
	}
	header .but button{
		padding: 4px 8px;
		font-size: 10px;
	}
}
@media screen and (max-width: 320px){/*iPhone 5/SE*/
	header .logo{
		float: none;
		overflow: auto;
		text-align: center;
	}
	header .mob-nav h3{
		margin-top: 0px;
	}
	.menu .mob-nav ul{
		top: 75px;
	}
	header .logo img{
		float: none;
	}
	header .but{
		margin-top: 0px;
		margin-right: 15px;
	}
	header .but button{
		padding: 4px 8px;
		font-size: 10px;
	}
} 

/*slider pic*/
@media screen and (max-width: 1535px){
	.slider .slide_show{
		height: auto;
	} 
}
@media screen and (max-width: 1535px){
	.slider .pic_on_text{
		top: 20%;
		left: 22%;
	} 
}
@media screen and (max-width: 1440px){
	.slider .pic_on_text{
		top: 27%;
		left: 31%;
	}
}
@media screen and (max-width: 1400px){
	.slider .pic_on_text{
		top: 31%;
	}
}
@media screen and (max-width: 1366px){
	.slider .pic_on_text{
		top: 40%;
		left: 26%;
	} 
}
@media screen and (max-width: 1280px){
	.slider .pic_on_text{
		top: 27%;
		left: 24%;
	} 
}
@media screen and (max-width: 1024px){/*iPad Pro*/
	.slider .pic_on_text{
		top: 17%;
		left: 15%;
	} 
}
@media screen and (max-width: 1024px) and (max-height: 768px){
	.slider .pic_on_text{
		top: 27%;
		left: 15%;
	} 
}
@media screen and (max-width: 800px){/*iPad*/
	.slider .pic_on_text{
		top: 23%;
		left: 15%;
	} 
	.slider .pic_on_text h2{
		font-size: 45px;
	}
}
@media screen and (max-width: 768px){/*iPad*/
	.slider .pic_on_text{
		top: 17%;
		left: 19%;
	} 
	.slider .pic_on_text h2{
		font-size: 45px;
	}
}
@media screen and (max-width: 414px){/*iPhone 6/7/8 plus and BlackBerry PlayBook*/
	.slider .slide_show picture{
		filter: grayscale(25%);
	}
	.slider .pic_on_text{
		top: 37%;
		left: 0%;
	} 
	.slider .pic_on_text h2{
		font-size: 40px;
		color: #e37c13;
	}
	.slider .pic_on_text h2 span{
		color: #e37c13;
	}
	.slider .pic_on_text p{
		font-size: 22px;
	}
}
@media screen and (max-width: 441px){/*Pixel 2XL and Pixel 2*/
	.slider .slide_show picture{
		filter: grayscale(50%);
	}
	.slider .pic_on_text{
		top: 30%;
		left: 1%;
	} 
	.slider .pic_on_text h2{
		font-size: 38px;
		color: #e37c13;
	}
	.slider .pic_on_text p{
		font-size: 18px;
	}
}
@media screen and (max-width: 375px){/*iPhone X And iPhone 6/7/8 and Galxy S5 and Moto G4*/
	.slider .slide_show picture{
		filter: grayscale(40%);
	} 
	.slider .pic_on_text h2{
		font-size: 30px;
		color: #e37c13;
	}
	.slider .pic_on_text p{
		font-size: 18px;
	}
}
@media screen and (max-width: 375px){/* Galxy S5 and Moto G4*/
	.slider .pic_on_text{
		top: 29%;
		left: 3%;
	} 
	
}
@media screen and (max-width: 320px){/*iPhone 5/SE*/
	.slider .slide_show picture{
		filter: grayscale(60%);
	}
	.slider .pic_on_text{
		top: 36%;
		left: 5%;
	} 
	.slider .pic_on_text h2 span{
		color: #e37c13;
	}
	.slider .pic_on_text h2{
		font-size: 28px;
		color: #fff;
	}
	.slider .pic_on_text p{
		font-size: 16px;
	}
}



/*svg*/
@media screen and (max-width: 1535px){
	.shape svg{
		display: none;
	}
}
@media screen and (min-height: 723px){
	.shape svg{
		display: none;
	}
}

/*top companies*/
@media screen and (max-width: 1440px){
	.company_section .row2{
		overflow: auto;
	}
	.company_section .row2 .column{
		margin: 0 30px;
	}
}
@media screen and (max-width: 1410px){
	.company_section .row2 .column{
		margin: 0 26px;
	}
}
@media screen and (max-width: 1400px){
	.company_section .row2{
		padding: 20px 92px;
	}
}
@media screen and (max-width: 1366px){
	.company_section .row2{
		padding: 20px 63px;
	}
}
@media screen and (max-width: 1360px){
	.company_section .row2{
		padding: 20px 60px;
	}
}
@media screen and (max-width: 1326px){
	.company_section .row2{
		padding: 20px 45px;
	}
}
@media screen and (max-width: 1280px){
	.company_section .row2{
		padding: 20px 32px;
	}
}
@media screen and (max-width: 1247px){
	.company_section{
		width: 100%;
	}
	.company_section .row2{
		width: 100%;
		padding: 20px 15px; 
	}
	.company_section .row2 .column{
		margin: 0 25px;
	}
}
@media screen and (max-width: 1195px){
	.company_section{
		width: 100%;
	}
	.company_section .row2{
		width: 100%;
		padding: 20px 15px; 
	}
	.company_section .row2 .column{
		margin: 0 20px;
	}
}
@media screen and (max-width: 1167px){
	.company_section{
		width: 100%;
	}
	.company_section .row2{
		width: 100%;
		padding: 20px 0px; 
	}
	.company_section .row2 .column{
		margin: 0 17px;
	}
}
@media screen and (max-width: 1152px){
	.company_section .row2{
		width: 100%;
		padding: 20px 0px; 
	}
	.company_section .row2 .column{
		margin: 0 15px;
	}
}
@media screen and (max-width: 1127px){
	.company_section{
		width: 100%;
	}
	.company_section .row2{
		width: 100%;
		padding: 20px 0px; 
	}
	.company_section .row2 .column{
		margin: 0 12px;
	}
}

@media screen and (max-width: 1100px){
	.company_section .row2 .column{
		margin: 15px 11px;
	}
}
@media screen and (max-width: 1025px){/*ipad pro*/
	.company_section{
		width: 100%;
		box-sizing: border-box;
	}
	.company_section .row2{
		width: 100%;
		padding: 20px 0px; 
	}
	.company_section .row2 .column{
		margin: 15px 17px;
		width: 219px;
	}
}
@media screen and (max-width: 804px){
	.company_section .row2 .column{
		margin: 15px 64px;
		width: 270px;
	}
}
@media screen and (max-width: 768px){/*ipad*/
	.company_section .row2 .column{
		margin: 15px 56px;
		width: 270px;
	}
}
@media screen and (max-width: 414px){/*iphone 6/7/8 plus and iphone 2 XL and pixel 2*/
	.company_section .row1 h1{
		font-size: 30px;
	}
	.company_section .row2 .column{
		margin: 15px 45px;
		width: 320px;
	}
}
@media screen and (max-width: 400px){/*Blackberry PlayBook*/
	.company_section .row2 .column{
		margin: 15px 40px;
		width: 320px;
	}
}
@media screen and (max-width: 375px){/*iphoneX adn iphone 6/7/8*/
	.company_section .row2 .column{
		margin: 15px 45px;
		width: 280px;
	}
	.company_section .row1 h1{
		font-size: 24px;
	}
}
@media screen and (max-width: 360px){/*Galxy S5 and Moto G4*/
	.company_section .row2 .column{
		margin: 15px 54px;
		width: 250px;
	}
}
@media screen and (max-width: 320px){/*iphone 5/SE*/
	.company_section .row2 .column{
		margin: 15px 33px;
		width: 250px;
	}
}

/* preview some jobs*/

@media screen and (max-width: 1150px){
	.preview_some .content{
		width: 965px;
	}
	.preview_some .content .row .column:nth-child(2){
		width: 567px;
	}
	.preview_some .content .row .column:nth-child(2) .job-row2 h2{
		font-size: 14px;
	}
	.preview_some .content .row .column:nth-child(3) .job-row button{
		width: 100px;
		font-size: 12px;
	}
}
@media screen and (max-width: 1024px){
	.preview_some .content{
		width: 965px;
	}
	.preview_some .content .row .column:nth-child(2){
		width: 567px;
	}
	.preview_some .content .row .column:nth-child(2) .job-row2 h2{
		font-size: 14px;
	}
	.preview_some .content .row .column:nth-child(3) .job-row button{
		width: 100px;
		font-size: 12px;
	}
}
@media screen and (max-width: 963px){
	.preview_some{
		display: none;
	}
}

/*Easiest eay*/
@media screen and (max-width: 1366px){
	.easy_way .row2{
		width: 86%;
		margin: 50px auto;
	}
}
@media screen and (max-width: 1280px){
	.easy_way .row2{
		width: 92%;
		margin: 50px auto;
	}
}
@media screen and (max-width: 1152px){
	.easy_way .row2{
		width: 100%;
		margin: 50px 0;
	}
}

@media screen and (max-width: 1024px){/*Ipad pro*/
	.easy_way .row1{
		margin: 50px 200px;
	}
	.easy_way .row2 .easy_content{
		width: 290px;
	}
	.easy_way .row2 .easy_content h5 span::after{
		width: 280px;
	}
}
@media screen and (max-width: 804px){
	.easy_way .row1{
		margin: 50px 200px;
	}
	.easy_way .row2 .easy_content{
		width: 210px;
	}
	.easy_way .row2 .easy_content h5 span::after{
		width: 224px;
		margin: 9px;
	}
}

@media screen and (max-width: 768px){/*Ipad*/
	.easy_way .row1{
		margin: 50px 200px;
	}
	.easy_way .row2{
		width: 100%;
	}
	.easy_way .row2 .easy_content img{
		width: 100px;
		height: 100px;	
	}
	.easy_way .row2 .easy_content{
		width: 205px;
		margin: 0 25px;
	}
	.easy_way .row2 .easy_content h5 span::after{
		width: 200px;
	}
}
@media screen and (max-width: 414px){/*iPhone 6/7/8 Plus*/
	.easy_way .row1{
		margin: 50px 20px;
		font-size: 13px;
	}
	.easy_way .row2 .easy_content img{
		width: 135px;
		height: 135px;	
	}
	.easy_way .row2{
		margin: 40px 0px;	
	}
	.easy_way .row2 .easy_content{
		width: 366px;
	}
	.easy_way .row2 .easy_content h5 span::after{
		display: none;	
	}
}
@media screen and (max-width: 375px){/*iPhone X and uPhone 6/7/8*/
	.easy_way .row2{
		margin: 40px 0px;	
	}
	.easy_way .row2 .easy_content{
		width: 326px;
	}
}	
@media screen and (max-width: 320px){/*iPhone 5/SE*/
	.easy_way .row1{
		margin: 50px 20px;
		font-size: 10px;
	}
	.easy_way .row2 .easy_content img{
		width: 110px;
		height: 110px;	
	}
	.easy_way .row2 .easy_content{
		width: 265px;
	}
	.easy_way .row2 .easy_content h5 span::after{
		display: none;	}
}

/* client sya*/
@media screen and (max-width: 1366px){/*iPad Pro*/
	.testiminal_section .testiminal .row2 .column{
		width: 350px;
	}
	.testiminal_section .testiminal .row2 .column .row1{
		margin-top: 20px;
	}
	.testiminal_section .testiminal .row2 .column .row1 p{
		font-size: 14px;
	}
}
@media screen and (max-width: 1024px){/*iPad Pro*/
	.testiminal_section .testiminal .row2 .column{
		width: 277px;
	}
}
@media screen and (max-width: 768px){/*iPad and iPhone 6/7/8 plus*/
	.testiminal_section .testiminal .row2 .column{
		width: 305px;
	}
	.testiminal_section .testiminal .row2 .column .row1{
		margin-top: 20px;
	}
}
@media screen and (max-width: 411px){/*Pixel 2XL and Pixel2*/
	.testiminal_section .testiminal .row1 h1{
		font-size: 27px;
	}
	.testiminal_section .testiminal .row2 .column{
		width: 299px;
	}
	.testiminal_section .testiminal .row2 .column .row1{
		margin:20px 0;
		height: 150px;
	}
}
@media screen and (max-width: 400px){/*BlackBerry PlayBook*/
	.testiminal_section .testiminal .row2 .column{
		width: 285px;
	}
}
@media screen and (max-width: 375px){/*iPhone X and iPhone 6/7/8*/
	.testiminal_section .testiminal .row1 h1{
		font-size: 27px;
	}
	.testiminal_section .testiminal .row2 .column{
		width: 265px;
	}
	.testiminal_section .testiminal .row2 .column .row1{
		margin-top: 20px;
	}
}
@media screen and (max-width: 360px){/*Galxy 5S*/
	.testiminal_section .testiminal .row1 h1{
		font-size: 25px;
	}
	.testiminal_section .testiminal .row2 .column{
		width: 249px;
	}
	.testiminal_section .testiminal .row2 .column .row1 p{
		font-size: 14px;
	}
}
@media screen and (max-width: 320px){/*iPhone 5/SE*/
	.testiminal_section .testiminal .row1 h1{
		font-size: 20px;
	}
	.testiminal_section .testiminal .row2 .column{
		width: 212px;
	}
	.testiminal_section .testiminal .row2 .column .row1{
		margin-top: 20px;
		width: auto;
		height: 105px;
	}
	.testiminal_section .testiminal .row2 .column .row1 p{
		font-size: 12px;
	}
	.testiminal_section .testiminal .row2 .column .row1 p span{
		font-size: 25px;
		line-height: 10px;
	}
}
/*get Start*/
@media screen and (max-width: 1400px){
	.pic_get_job .over-text{
		margin: 66px 0 0 300px;
	}
}
@media screen and (max-width: 1314px){
	.pic_get_job .over-text{
		margin: 58px 0 0 252px;
	}
}
@media screen and (max-width: 1222px){
	.pic_get_job .over-text{
		margin: 50px 0 0 230px;
	}
}
@media screen and (max-width: 1152px){
	.pic_get_job .over-text{
		margin: 29px 0 0 173px;
	}
}
@media screen and (max-width: 1135px){
	.pic_get_job .over-text{
		margin: 29px 0 0 173px;
	}
}
@media screen and (max-width: 1056px){
	.pic_get_job .over-text{
		margin: 30px 0 0 130px;
	}
}
@media screen and (max-width: 1024px){/*iPad pro*/
	.pic_get_job .over-text{
		margin: 28px 0 0 125px;
	}
	.pic_get_job .over-text h1{
		font-size: 24px;
	}
	.pic_get_job .over-text button{
		padding: 10px;
		width: 150px;	
	}
}
@media screen and (max-width: 978px){
	.pic_get_job .over-text{
		margin: 25px 0 0 93px;
	}
}
@media screen and (max-width: 878px){
	.pic_get_job .over-text{
		margin: 15px 0 0 45px;
	}
}
@media screen and (max-width: 843px){
	.pic_get_job .over-text{
		width: 700px;
		margin: 10px 0 0 64px;
	}
	.pic_get_job .over-text h1{
		font-size: 20px;
	}
}
@media screen and (max-width: 843px){
	.pic_get_job .over-text{
		width: 700px;
		margin: 10px 0 0 50px;
	}
}
@media screen and (max-width: 768px){/*iPad*/
	.pic_get_job .pic img{
		height: 250px;
	}
	.pic_get_job .over-text{
		width: 650px;
		margin: 28px 0 0 50px;
	}
	.pic_get_job .over-text h1{
		font-size: 20px;
	}
	.pic_get_job .over-text button{
		padding: 8px;
		width: 130px;	
	}
}
@media screen and (max-width: 680px){
	.pic_get_job .over-text{
		margin: 25px 0 0 17px;
	}
}
@media screen and (max-width: 648px){
	.pic_get_job .over-text{
		width: 602px;
	}
	.pic_get_job .over-text h1{
		font-size: 15px;
	}
}
@media screen and (max-width: 648px){
	.pic_get_job .over-text{
		width: 550px;
	}
}
@media screen and (max-width: 558px){
	.pic_get_job .over-text{
		margin: 30px 0 0 17px;
		width: 500px;
	}
}
@media screen and (max-width: 414px){/*iPhone 6/7/8 Plus*/
	.pic_get_job .pic img{
		height: 250px;
	}
	.pic_get_job .over-text{
		width: 395px;
		margin: 33px 0 0 6px;
	}
	.pic_get_job .over-text h1{
		font-size: 17px;
	}
	.pic_get_job .over-text h3{
		font-size: 15px;
	}
	.pic_get_job .over-text button{
		padding: 8px;
		width: 100px;
		font-size: 10px;	
	}
}
@media screen and (max-width: 400px){/*Blackberry PlayBook*/
	.pic_get_job .over-text{
		width: 377px;
		margin: 33px 0 0 9px;
	}
	.pic_get_job .over-text h1{
		font-size: 16px;
	}
}
@media screen and (max-width: 375px){/*iPhone X and iPhone 6/7/8*/
	.pic_get_job .pic img{
		height: 250px;
	}
	.pic_get_job .over-text{
		width: 358px;
		margin: 33px 0 0 6px;
	}
	.pic_get_job .over-text h1{
		font-size: 17px;
	}
	.pic_get_job .over-text h3{
		font-size: 15px;
	}
	.pic_get_job .over-text button{
		padding: 8px;
		width: 100px;
		font-size: 10px;	
	}
}
@media screen and (max-width: 360px){/*Galxy S5 and Moto G4*/
	.pic_get_job .over-text{
		width: 335px;
		margin: 33px 0 0 6px;
	}
	.pic_get_job .over-text h1{
		font-size: 16px;
	}
}
@media screen and (max-width: 320px){/*iPhone 5/SE */
	.pic_get_job .over-text{
		width: 305px;
		margin: 33px 0 0 6px;
	}
	.pic_get_job .over-text h1{
		font-size: 14px;
	}
	.pic_get_job .over-text h3{
		font-size: 12px;
	}
	.pic_get_job .over-text button{
		padding: 6px;
		width: 100px;
		font-size: 10px;	
	}
}

/*Why you*/
@media screen and (max-width: 1440px){
	footer .main_row{
		margin:55px 0 0 150px; 
	}
}
@media screen and (max-width: 1400px){
	footer .main_row{
		margin:55px 0 0 145px; 
	}
	footer .big_footer .footer-main .row .column{
		margin: 10px 33px;
	}
}
@media screen and (max-width: 1366px){/*i360px*/
	footer .main_row{
		margin:55px 0 0 120px; 
	}
}
@media screen and (max-width: 1280px){
	footer .main_row{
		margin:55px 0 0 70px; 
	}
	.counter .content .column{
		margin-right: 22px;
	}
}
@media screen and (max-width: 1152px){
	.counter .content .column{
		width: 335px;
	}
	footer .main_row{
		width: 94%;
		margin:-75px 0 0 52px; 	
	}
	footer .main_row .column{
		width: 38%;
	}
	footer .big_footer .footer_svg{
		display: none;
	}
	footer .big_footer .footer-main{
		padding-top: 125px;
	}
	footer .big_footer .footer-main .row .column{
		margin: 10px 40px;
	}
}
@media screen and (max-width: 1024px){/*Ipad PRO*/
	.why_you_choose .main{
		padding: 0;
	}
	.counter .content .column{
		margin-right: 0px;
	}
	.counter .content .column{
		width: 300px;
	}
	.counter .content .column img{
		margin-left: 50px;
	}
	footer .main_row .column{
		width: 36%;
	}
	footer .big_footer .footer_svg{
		display: none;
	}
	footer .big_footer .footer-main{
		padding-top: 125px;
	}
	footer .big_footer .footer-main .row .column{
		margin: 10px 36px;
	}
}
@media screen and (max-width: 800px){
	.why_you_choose .main{
		padding: 0;
		width: 100%;
	}
	.why_you_choose .main .column:first-child{
		width: 440px;
	}
	.why_you_choose .main .column .row .column{
		width: 200px;
	}
	.why_you_choose .main .column .row .column .column-content i{
		font-size: 29px;
	}
	.why_you_choose .main .column:last-child{
		width: 348px;
	}
	.why_you_choose .main .column:last-child img{
		height: 520px;
	}
	.counter .content .column{
		width: 239.33px;
	}
	.counter .content .column img{
		margin-left: 11px;
		width: 50px;
	}
	footer .main_row{
		margin: -61px 0 0 0px;
		width: 100%;
	}
	footer .main_row .column{
		width: 46%;
		padding: 15px;
		margin: 0 14px;
		box-sizing: border-box;
	}
	footer .main_row .column h1{
		font-size: 16px;
	}
	footer .big_footer .footer_svg{
		display: none;
	}
	footer .big_footer .footer-main{
		padding-top: 125px;
	}
	footer .big_footer .footer-main .row .column{
		margin: 10px 28px;
	}
	footer .small_footer .column{
		margin-bottom: 12px;
	}
	footer .small_footer .column ul li a{
		font-size: 10px;
	}

}
@media screen and (max-width: 768px){/*Ipad*/
	.why_you_choose .main{
		padding: 30px;
		width: 100%;
		box-sizing:border-box;
	}
	.why_you_choose .main .column:first-child{
		float: none;
		overflow: auto;
		width: 100%;
	}
	.why_you_choose .main .column:last-child{
		float: none;
		overflow: auto;
		width: 540px;
		margin: 0 auto;
	}
	.why_you_choose .main .column:last-child img{
		height: 800px;
	}
	.why_you_choose .main .column .row .column{
		width: 330px;
	}
	.counter .content .column{
		width: 229px;
	}
	.counter .content .column img{
		margin-left: 10px;
		width: 50px;
	}
	footer .main_row{
		width: 100%;
		margin: -7% 0 0 0;
	}
	footer .main_row .column{
		width: 46%;
		padding: 18px;
		margin: 0 14px;
		box-sizing: border-box;
	}
	footer .main_row .column h1{
		font-size: 12px;
	}
	footer .main_row .column h1{
		font-size: 15px;
	}
	footer .big_footer .footer_svg{
		display: none;
	}
	footer .big_footer .footer-main{
		padding-top: 100px;
	}
	footer .big_footer .footer-main .row .column{
		margin: 10px 27px;
	}
}
@media screen and (max-width: 414px){/*Ipone 6/7/8 plus*/
	.why_you_choose .main{
		padding: 0;
		width: 100%;
		box-sizing:border-box;
	}
	.why_you_choose .main .column .first_row{
		width: 100%;
	}
	.why_you_choose .main .column:first-child{
		float: none;
		width: 100%;
		padding: 8px;
		box-sizing: border-box;
	}
	.why_you_choose .main .column .row .column{
		width: 390px;
	}
	.why_you_choose .main .column:last-child{
		float: none;
		overflow: auto;
		width: 90%;
		margin: 0 auto;
	}
	.why_you_choose .main .column:last-child img{
		height: 560px;
		filter: grayscale(56%);
	}
	.counter .content .column{
		float: none;
		text-align: left;	
		overflow: auto;
		margin: 35px 0;
		width: 320px;
	}
	.counter .content .column img{
		margin-left: 25px;
		width: 60px;
		margin-right: 40px;

	}
	footer .main_row{
		display: none;
	}
	footer .big_footer .footer-main{
		padding-top: 20px;
	}
	footer .big_footer .footer-main .row .column{
		margin: 35px 27px;
		float: none;
		width: 360px;
	}
	footer .small_footer .column{
		margin-bottom: 12px;
	}
	footer .small_footer .column ul li a{
		font-size: 10px;
	}
}
@media screen and (max-width: 375px){/*Ipone X*/
	.why_you_choose .main{
		padding: 0;
		width: 100%;
		box-sizing:border-box;
	}
	.why_you_choose .main .column .first_row{
		width: 100%;
	}
	.why_you_choose .main .column:first-child{
		float: none;
		width: 100%;
		padding: 8px;
		box-sizing: border-box;
	}
	.why_you_choose .main .column .row .column{
		width: 350px;
	}
	.why_you_choose .main .column:last-child{
		float: none;
		overflow: auto;
		width: 90%;
		margin: 0 auto;
	}
	.why_you_choose .main .column:last-child img{
		height: 500px;
		filter: grayscale(56%);
	}
	.counter .content .column{
		float: none;
		text-align: left;	
		overflow: auto;
		margin: 35px 0;
		width: 300px;
	}
	.counter .content .column img{
		margin-left: 25px;
		width: 60px;
		margin-right: 40px;

	}
	footer .big_footer .footer-main{
		padding-top: 20px;
	}
	footer .big_footer .footer-main .row .column{
		margin: 35px 27px;
		float: none;
		width: 300px;
	}
	footer .small_footer .column{
		margin-bottom: 12px;
	}
	footer .small_footer .column ul li a{
		font-size: 10px;
	}
}
@media screen and (max-width: 320px){/*Ipone 5/SE*/
	.why_you_choose .main .column .row .column{
		width: 300px;
	}
	.why_you_choose .main .column:last-child{
		float: none;
		overflow: auto;
		width: 90%;
		margin: 0 auto;
	}
	.why_you_choose .main .column:last-child img{
		height: 480px;
		filter: grayscale(56%);
	}
	.counter .content .column{
		float: none;
		text-align: left;	
		overflow: auto;
		margin: 35px 0;
		width: 250px;
		font-size: 15px;
	}
	footer .big_footer .footer-main .row .column{
		margin: 35px 27px;
		float: none;
		width: 270px;
	}
	footer .small_footer .column{
		margin-bottom: 12px;
		font-size: 10px;
	}
	footer .small_footer .column:last-child{
		font-size: 9px;
	}
}