@media screen and (max-width: 1500px) {
  .company_section .row1 {
    width: 100%;
  }
  .company_section .row2 {
    width: 100%;
  }
  footer .big_footer .simple_box .main_row {
    width: 100%;
  }
}
@media screen and (max-width: 1250px) {
  .easy_way .row2 {
    width: 100%;
  }
  .easy_way .row2 .easy_content:first-child::after,
  .easy_content::after {
    display: none;
  }
  @media screen and (max-width: 1220px) {
    .easy_way .row2 .easy_content:first-child::after,
    .easy_content::after {
      display: none;
    }
  }
  @media screen and (max-width: 1200px) {
    .preview_some .main_column {
      width: 100%;
    }
    .preview_some .main_column .row .column:nth-child(1) {
      width: 110px;
    }
    .preview_some .main_column .row .column:nth-child(2) {
      width: 70%;
    }
    .preview_some .main_column .row .column:nth-child(2) .job-row2 {
      overflow-y: auto;
      height: 50%;
    }
    .preview_some .main_column .row .column:nth-child(3) {
      width: 20%;
    }
  }
  .why_you_choose .main {
    width: 90%;
  }
  .counter .content {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  footer {
    margin-top: 150px;
  }
  footer .big_footer .footer_svg {
    display: none;
  }
  footer .big_footer .simple_box {
    top: -100px;
  }
  footer .big_footer .simple_box .main_row .column {
    width: 80%;
    height: 120px;
  }
}
@media screen and (max-width: 1008px) {
  header .logo,
  header .but {
    margin: 0 15px;
  }
  header .menu ul li {
    margin: 0;
  }
  .pic_get_job .over-text {
    width: 94%;
  }
}
@media screen and (max-width: 798px) {
  header .but button {
    margin: 5px;
  }
  footer .small_footer {
    display: block;
  }
  footer .small_footer .column {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
  footer .small_footer .column:nth-child(2) {
    margin-bottom: 0;
  }
  footer .small_footer .column:nth-child(2) h3 {
    text-align: center;
  }
}
@media screen and (max-width: 780px) {
  header .menu ul {
    display: none;
  }
  header .logo {
    order: 1;
    flex: 2;
    text-align: center;
  }
  header .menu {
    order: 3;
    flex: 0;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
  }
  header .but {
    order: 2;
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  header .logo,
  header .but {
    margin: 0;
  }
  header .mob-nav {
    display: block;
  }
  header .mob-nav h3 {
    font-size: 25px;
  }
  .slider .pic_on_text {
    top: 40%;
  }
  .slider .pic_on_text h2 {
    font-size: 48px;
  }
  .preview_some .main_column .row .column:nth-child(2) {
    width: 50%;
  }
  .why_you_choose .main .main_column:first-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 654px) {
  .preview_some {
    padding: 55px 15px 75px;
  }
}
@media screen and (max-width: 550px) {
  .preview_some
    .main_column
    .row
    .column:nth-child(3)
    .job-but
    .job-row
    button {
    width: 95%;
  }
  .easy_way .row2 {
    flex-wrap: wrap;
  }
  .pic_get_job .pic:after {
    background-image: url(../../imj/mobile_start.jpg);
  }
  .pic_get_job .over-text h1 {
    font-size: 23px;
  }
  .pic_get_job .over-text h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 522px) {
  .why_you_choose .main .main_column:first-child {
    display: block;
  }
}
@media screen and (max-width: 465px) {
  .counter .content .column img {
    margin-bottom: 20px;
  }
  .counter .content .column {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 445px) {
  header .mob-nav {
    display: none;
  }
  header .but {
    display: none;
  }
  header .mob-nav2 {
    display: block;
  }
  .slider .pic_on_text {
    top: 50%;
    width: 100%;
  }
  .slider .pic_on_text h2 {
    font-size: 45px;
  }
  .preview_some .main_column .row .column:nth-child(1) {
    display: none;
  }
  .preview_some .main_column .row .column:nth-child(2) {
    width: 60%;
  }
  .preview_some .main_column .row .column:nth-child(3) {
    width: 30%;
  }
  footer .big_footer .simple_box .main_row .column {
    width: 95%;
  }
  footer .big_footer .footer-main {
    padding-top: 215px;
  }
}
@media screen and (max-width: 310px) {
  .preview_some {
    display: none;
  }
  .testiminal_section {
    padding: 70px 0px;
  }
  footer .big_footer .simple_box .main_row {
    display: none;
  }
  footer .big_footer .footer-main {
    padding-top: 50px;
  }
}
@media screen and (max-width: 243px) {
  .counter .content .column {
    display: block;
    text-align: center;
  }
}
@media screen and (max-height: 470px) {
  header .menu ul {
    height: 100vh;
  }
}
