@media screen and (max-width: 1000px) {
  .main .pcv {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 502px) {
  .main .pcv .column:nth-child(1) {
    margin-right: 0;
  }
}
@media screen and (max-width: 291px) {
  .main .pcv .column:nth-child(1) .row .pic {
    width: 150px;
    height: 150px;
  }
}
