@media screen and (max-width: 1160px) {
  .section {
    width: 90%;
  }
}
@media screen and (max-width: 787px) {
  .section .row .next-link .next-content {
    width: 95%;
  }
  .section .row .next-link .next-content ul {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 654px) {
  .section .view-add {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 603px) {
  .section .view-add {
    padding: 50px 10px;
  }
  .section .view-add .row2 {
    margin: 45px 20px;
  }
}
@media screen and (max-width: 519px) {
  .section .view-add {
    padding: 50px 0px;
  }
  .section .view-add .row2 {
    margin: 45px 10px;
  }
}
@media screen and (max-width: 475px) {
  .section .view-add .row2 table th:nth-child(3) {
    display: none;
  }
  .section .view-add .row2 table tr td:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 403px) {
  .section .view-add .row2 {
    overflow-x: auto;
  }
  .section .view-add .row2 table th:nth-child(1) {
    display: none;
  }
  .section .view-add .row2 table tr td:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 373px) {
  .section .row .next-link .next-content ul li a {
    font-size: 11px;
  }
}
@media screen and (max-width: 316px) {
  .section .row .next-link .next-content {
    width: 150px;
  }
  .section .row .next-link .next-content ul {
    flex-direction: column;
    align-items: center;
  }
  .section .row .next-link .next-content ul li {
    margin-bottom: 10px;
  }
}
