@media screen and (max-width: 1140px) {
  .section {
    width: 100%;
  }
}
@media screen and (max-width: 1040px) {
  .section {
    width: 80%;
  }
  .section .row .next-link .next-content ul {
    width: 100%;
  }
}
@media screen and (max-width: 919px) {
  .section .row .next-link .next-content {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .section .row .next-link .next-content ul {
    width: 100%;
  }
}
@media screen and (max-width: 402px) {
  .section {
    width: 95%;
  }
}
@media screen and (max-width: 373px) {
  .section .row .next-link .next-content ul li a {
    font-size: 11px;
  }
}
@media screen and (max-width: 316px) {
  .section .row .next-link .next-content {
    width: 150px;
  }
  .section .row .next-link .next-content ul {
    flex-direction: column;
    align-items: center;
  }
  .section .row .next-link .next-content ul li {
    margin-bottom: 10px;
  }
}
