@media screen and (max-width: 1160px){
	.section{
		width: 90%;
	}
}
@media screen and (max-width: 1077px){
	.section .row .next-link .next-content ul{
		width: 90%;
	}
	.section .row .next-link .next-content ul li{
		margin: 0 35px; 
		box-sizing: border-box;
	} 
}
@media screen and (max-width: 1010px) {
	.section .row .next-link .next-content ul li{
		margin: 0 30px;
	}
}
@media screen and (max-width: 951px) {
	.section .row .next-link .next-content ul li{
		margin: 0 20px;
	}
}
@media screen and (max-width: 846px) {
	.section .view-cv table tr td .pro-pic{
		float: none;
		text-align: center;
		margin: 10px auto;
	}
	.section .view-cv table tr td .content{
		text-align: center;
	}
}
@media screen and (max-width: 764px) {
	.section .row .next-link .next-content ul li{
		margin: 0 10px;
	}
}
@media screen and (max-width: 700px) {
	.section .row .next-link{
		margin: 45px 10px;
	}
}
@media screen and (max-width: 630px) {
	.section .view-cv{
		margin: 50px 20px;
	}
}
@media screen and (max-width: 563px) {
	.section .row .next-link{
		margin: 45px 0px;
	}
}
@media screen and (max-width: 536px) {
	.section .row .next-link .next-content ul li{
		padding: 5px 10px;
	}
}
@media screen and (max-width: 500px) {
	.section .row .next-link .next-content ul li{
		padding: 5px 5px;
	}
}
@media screen and (max-width: 445px) {
	.section .row .next-link .next-content ul li{
		font-size: 10px;
	}
	.section .row .next-link .next-content ul li a{
		font-size: 10px;
	}
	.section .view-cv .row{
		overflow-x: auto;
	}
}
@media screen and (max-width: 400px) {
	.section .view-cv{
		margin: 50px 10px;
	}
}
@media screen and (max-width: 378px) {
	.section .row .next-link .next-content ul li{
		margin: 0 5px;
	}
}
@media screen and (max-width: 315px) {
	.section .row .next-link .next-content ul li{
		margin: 0 2px;
	}
}