@media screen and (max-width: 1140px) {
  .add-list .sort_row {
    width: 90%;
  }
  .add-list .all-ads .row {
    width: 90%;
  }
  .add-list .all-ads .row {
    justify-content: space-between;
  }
  .add-list .all-ads .row .column2 {
    width: 80%;
  }
  .add-list .all-ads .row .column3 {
    width: 20%;
  }
  .add-ads .result {
    width: 100%;
  }
}
@media screen and (max-width: 841px) {
  .add-list .all-ads .row .column2 {
    width: 70%;
  }
  .add-list .all-ads .row .column3 {
    width: 30%;
  }
}
@media screen and (max-width: 810px) {
  .add-list .row .next-link {
    width: 80%;
  }
}
@media screen and (max-width: 673px) {
  .add-list .sort_row {
    width: 95%;
  }
  .add-list .all-ads .row .column2 {
    width: 60%;
  }
  .add-list .all-ads .row .column3 {
    width: 40%;
  }
}
@media screen and (max-width: 585px) {
  .add-list .all-ads .row {
    height: auto;
  }
  .add-list .all-ads .row .column2 {
    width: 50%;
  }
  .add-list .all-ads .row .column3 {
    width: 50%;
  }
}
@media screen and (max-width: 579px) {
  .add-list .all-ads .row {
    width: 350px;
  }
  .add-list .all-ads .row {
    flex-direction: column;
  }
  .add-list .all-ads .row a {
    flex-direction: column;
    align-items: center;
  }
  .add-list .all-ads .row .column2 .row1 {
    text-align: center;
    margin: 10px 0;
  }
  .add-list .all-ads .row .column2 {
    align-items: center;
  }
  .add-list .all-ads .row .column2 .row2 {
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
    width: 100%;
    overflow-y: hidden;
  }
  .add-list .all-ads .row .column2 .row2 h2 {
    margin-bottom: 10px;
  }
  .add-list .all-ads .row .column2 {
    width: 100%;
  }
  .add-list .all-ads .row .column3 {
    margin-top: 30px;
    width: 100%;
  }
}
@media screen and (max-width: 465px) {
  .add-list .row .next-link {
    width: 95%;
  }
}
@media screen and (max-width: 391px) {
  .add-list .row .next-link {
    width: 95%;
  }
}
@media screen and (max-width: 370px) {
  .add-list .all-ads .row {
    width: 98%;
  }
  .add-list .row .next-link .next-content ul li a {
    font-size: 11px;
  }
  .add-list .all-ads .row .column2 .row2::-webkit-scrollbar {
    width: 3px;
    height: 2px;
    background-color: #f5f5f5;
  }

  .add-list .all-ads .row .column2 .row2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #bebebe;
  }
  .add-list .all-ads .row .column2 .row2 h2 {
    margin-right: 0;
  }
}
@media screen and (max-width: 351px) {
  .add-list .row .next-link .next-content ul li:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  .add-list .all-ads .row .column2 .row2 {
    text-align: left;
  }
  .add-list .row .next-link .next-content ul {
    flex-wrap: wrap;
  }
  .add-list .row .next-link .next-content ul li {
    margin-bottom: 5px;
  }
}
