@media screen and (max-width: 1138px) {
  .section {
    width: 100%;
  }
}
@media screen and (max-width: 1020px) {
  .section .ed-main .cv .row1 .column {
    overflow: initial;
  }
  .section .ed-main .cv .row1 .column:nth-child(2) {
    order: 1;
    width: 100%;
    flex: none;
  }
  .section .ed-main .cv .row1 .column:nth-child(1) {
    order: 2;
  }
  .section .ed-main .cv .row1 .column:nth-child(3) {
    order: 3;
  }
}
@media screen and (max-width: 715px) {
  .section .ed-main .cv .row1 {
    flex-direction: column;
  }
  .section .ed-main .cv .row1 .column {
    margin: 0;
    width: 80%;
  }
  .section .ed-main .cv .row1 .column:nth-child(1) {
    margin-bottom: 20px;
  }
  .section .ed-main .cv .row1 .column p {
    display: flex;
    align-items: center;
  }
  .section .ed-main .cv .row1 .column input,
  .column textarea {
    text-align: left;
    width: 95% !important;
    order: 2;
  }
  .section .ed-main .cv .row1 .column:nth-child(3) i {
    order: 1;
    margin-right: 8px;
  }
}
@media screen and (max-width: 550px) {
  .section .ed-main .row2 .row .rowsec .skills .sk_row {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .section .ed-main .row2 .row .rowsec .skills .sk_row p {
    width: 100%;
  }
  .section .ed-main .row2 .row .rowsec .skills .sk_row input {
    width: 100%;
  }
  .section .ed-main .row2 .row .rowsec .skills .sk_row .prc {
    width: 100%;
    margin: 20px 0;
  }
  .model_page .update_pic {
    width: 100%;
  }
}
@media screen and (max-width: 414px) {
  .section .ed-main .cv .row1 .column {
    margin: 0;
    width: 95%;
  }
  .section .ed-main .row2 .row .rowsec .e_form {
    padding-left: 5px;
    padding-right: 5px;
    margin: 15px 8px;
  }
}
@media screen and (max-width: 274px) {
  .section .ed-main .cv .row1 .column .cv-pic {
    width: 150px;
    height: 150px;
  }
  .section .ed-main .cv .row1 .column .up-but label {
    padding: 8px;
    font-size: 15px;
  }
}
@media screen and (max-width: 336px) {
  .section .ed-main .row2 .row .rowsec .skills .sk_row .prc .twopcs input {
    display: none;
  }
  .section .ed-main .row2 .row .rowsec .skills .sk_row .prc .twopcs span {
    display: none;
  }
}
@media screen and (max-width: 253px) {
  .section .ed-main .row2 .row .rowsec input[type="submit"] {
    width: 100%;
  }
}
