@media screen and (max-width: 1020px) {
  .section {
    width: 90%;
  }
}
@media screen and (max-width: 632px) {
  .cv-main {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .cv-main .cv_col:first-child .row:last-child {
    width: 100%;
  }
}
@media screen and (max-width: 261px) {
  .cv-main .cv_col:first-child {
    width: 100%;
    margin: 0;
  }
  .cv-main .cv_col:first-child .row .cv-pic {
    width: 150px;
    height: 150px;
  }
  .cv-main .cv_col:last-child {
    padding-left: 0;
  }
}
