@media screen and (max-width: 1160px){

	.job-content{
		width: 90%;
	}
	.job-content .ad-details .row1 .column:nth-child(2){
		width: 25%;
	}
	.job-content .ad-details .row1 .column:nth-child(3){
		float: right;
	}
	.job-content .ad-details .row3 .other-details .column{
		width: 50%;
	}
}
@media screen and (max-width: 1010px){

	.job-content{
		width: 95%;
	}
}
@media screen and (max-width: 959px){

	.job-content{
		width: 100%;
	}
}
@media screen and (max-width: 907px){
	.job-content .ad-details .row1 .column{
		float: none;
		width: 50%;
		margin: 0 auto;
	}
	.job-content .ad-details .row1 .column .company-logo .pic{
		margin: 20px auto;
	}
	.job-content .ad-details .row1 .column:nth-child(2){
		width: 50%;
		padding: 15px;
		float: left;
	}
	.job-content .ad-details .row1 .column:nth-child(3){
		width: 50%;
		padding: 15px;
		float: right;
		text-align: left;
	}
}
@media screen and (max-width: 744px){
	.job-content .ad-details .row1 .column{
		float: none;
		width: 50%;
		margin: 0 auto;
	}
	.job-content .ad-details .row1 .column .company-logo .pic{
		margin: 20px auto;
	}
	.job-content .ad-details .row1 .column:nth-child(2){
		width: 80%;
		padding: 15px;
		float: none;
	}
	.job-content .ad-details .row1 .column:nth-child(3){
		width: 80%;
		padding: 15px;
		float: none;
		text-align: left;
	}
}
@media screen and (max-width: 435px){
	.job-content .ad-details .row1 .column{
		width: 100%;
	}
	.job-content .ad-details .row1 .column:nth-child(2){
		width: 95%;
		padding: 15px;
		float: none;
		box-sizing: border-box;
	}
	.job-content .ad-details .row1 .column:nth-child(3){
		width: 95%;
		padding: 15px;
		float: none;
		text-align: left;
		box-sizing: border-box;
	}
	.job-content .ad-details .row3 .other-details .column h2{
		font-size: 14px;
	}
}
@media screen and (max-width: 409px){
	.job-content .ad-details .row1 .column:nth-child(2){
		width: 100%;
		padding: 0px;
		float: none;
		box-sizing: border-box;
	}
	.job-content .ad-details .row1 .column:nth-child(3){
		width: 100%;
		padding: 05px;
		float: none;
		text-align: left;
		box-sizing: border-box;
	}
}
@media screen and (max-width: 409px){
	.job-content .ad-details{
		padding: 5px;
	}
}
@media screen and (max-width: 343px){
	.job-content .ad-details{
		padding: 0px;
	}
	.job-content .ad-details .row1 .column:nth-child(2){
		padding: 15px;
		box-sizing: border-box;
	}
	.job-content .ad-details .row1 .column:nth-child(3){
		padding: 15px;
		box-sizing: border-box;
	}
	.job-content .main-details .job-main-details .j-details h3{
		margin-bottom: 15px;
	}
	.job-content .ad-details .row1 .column:nth-child(2) .row h2{
		font-size: 22px;
	}
	.job-content .ad-details .row1 .column:nth-child(2) .row h3{
		font-size: 16px;
	}
	.job-content .ad-details .row1 .column:nth-child(3) .row h2{
		font-size: 22px;
	}
	.job-content .ad-details .row1 .column:nth-child(3) .row h3{
		font-size: 16px;
	}
	.job-content .ad-details .row1 .column:nth-child(3) .row button {
		width: 60%;
	}	
}
@media screen and (max-width: 290px){
	.job-content .main-details .job-main-details .j-details h3{
		margin-bottom: 10px;
		margin-right: 5px;
	}
	.job-content .main-details .job-main-details .j-details h3:nth-child(3){
		width: 100%;
		overflow: auto;
	}
}