@media screen and (max-width: 1150px) {
  .job-content {
    width: 100%;
  }
}
@media screen and (max-width: 845px) {
  .job-content .job_row .job_column:nth-child(3) .apply_but button {
    width: 100%;
  }
}
@media screen and (max-width: 675px) {
  .job-content .job_row {
    flex-wrap: wrap;
    height: auto;
  }
}
@media screen and (max-width: 611px) {
  .job-content .job_row .job_column:nth-child(1) {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .job-content .job_row .job_column:nth-child(2) {
    padding-left: 0;
  }
}
@media screen and (max-width: 565px) {
  .job-content .job_main_content .job_details .q_job_details .sect {
    width: 210px;
  }
}
@media screen and (max-width: 332px) {
  .job-content .job_row .job_column:nth-child(2) {
    width: 100%;
    margin-bottom: 10px;
    flex: none;
  }
  .job-content .job_main_content .job_details .q_job_details {
    width: 100%;
    flex: none;
    flex-direction: column;
    padding: 0;
  }
  .job-content .job_main_content .job_details .q_job_details .sect {
    width: 100%;
  }
}
@media screen and (max-width: 250px) {
  .job-content .job_main_content .job_details {
    width: 100%;
    flex: none;
  }
  .job-content .job_main_content .company_details {
    width: 100%;
    flex: none;
  }
  .job-content .job_main_content .company_details {
    padding: 10px 0;
  }
  .job-content .job_main_content .company_details .company_conte {
    width: 100%;
  }
  .job-content .job_main_content .company_details .company_conte .csect {
    width: 100%;
    overflow: auto;
  }
  .job-content
    .job_main_content
    .company_details
    .company_conte
    .csect:last-child {
    flex-direction: column;
  }
  .job-content .job_main_content .job_details {
    padding: 10px 0;
  }
}
