@media screen and (max-width: 1208px) {
  header .main {
    width: 90%;
  }
  section .navi {
    width: 90%;
  }
}
@media screen and (max-width: 943px) {
  section .navi ul li:last-child {
    float: none;
  }
  section .navi ul li {
    margin-bottom: 8px;
  }
  .search-bar .search-content form {
    flex-wrap: wrap;
  }
  .search-bar .search-content form input {
    width: 100%;
    margin-bottom: 15px;
  }
  .search-bar .search-content form p:last-child {
    text-align: right;
  }
}
@media screen and (max-width: 788px) {
  footer .small_footer {
    flex-wrap: wrap;
  }
  footer .small_footer {
    flex-direction: column;
  }
  footer .small_footer .small_column {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 532px) {
  section .navi {
    width: 100%;
  }
}
@media screen and (max-width: 371px) {
  section .navi ul li {
    margin-left: 0px;
  }
  .search-bar .search-content {
    width: 90%;
  }
}
@media screen and (max-width: 285px) {
  section .navi ul li {
    display: block;
    margin: 0;
    margin-bottom: 8px;
    text-align: left;
  }
}

@media screen and (max-width: 257px) {
  header .main .row {
    flex-wrap: wrap;
  }
}
